html,
body {
    padding: 12px 17px 20px;
    background: #814197 url(../images/layout-bg.png) repeat-x top;
    overflow-x: auto;
    color: #ffffff;
    font-family: "Ubuntu", sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.error-input {
    border: 1px solid #FF6B6B;
}

.js-error-msg {
    color: #FF6B6B;
    font-size: 14px;
    line-height: 20px;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.js-menu-item-active {
    text-decoration: underline;
    font-weight: bold;
}

.row .js-error-msg {
    padding-bottom: 10px;
}

.base-color-link a:link {
    color: #ffffff;
}

.base-color-link a:visited {
    color: #ffffff;
}
.tab-color-link a:link {
    color: #000000;
}
.tab-color-link a:visited {
    color: #000000;
}

.text-label {
    color: #DEB0F7;
    font-size: 14px;
    line-height: 20px;
}
.js-faq-block {
    cursor: pointer;
}
.chat-support-btn {
    border: 0;
    background-color: #C08DDF;
    cursor: pointer;
    width: 60%;
    height: 70px;
    padding:1px;
}

img.rot {
    animation: 5s linear 1s normal none infinite running rot;
    -webkit-animation: 5s linear 1s normal none infinite running rot;
    width: 200px;
}
@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#chatra:not(.chatra--expanded) {
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none;
}

.main-menu-block {
    height: 55px;
   /* background-color: #fff; */
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    -ms-overflow-style: none;
    animation-name: fadeUp;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    z-index: 99;
}
.stick-menu__menu-row {
    height: 55px;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
}
.stick-menu__menu-item {
    min-width: 110px;
    border-right: 1px solid #ECE5F6;
    display: block;
    -ms-flex: 1;
    flex: 1;
}
.btn_mt {
    background-color: #C08DDF;
    width: 100%;
    height: 50px;
    padding: 15px 20px;
    color: #fff9e5;
}
.bonus-block-info {
    padding: 5px;
    background-color: #c6cccd;
    color: #ffeb00;
    width: 250px;
    text-align: center;
    font-size: 17px;
}
